/* Below Logic for Quota & AM Qty on Scheduling Table */
 div[data-colorclass="R"] { 
    background-color:#ff8080 !important; 
  }
  div[data-colorclass="G"] { 
    background-color:#ccffb3 !important; 
  }
  div[data-colorclass="Y"] { 
    background-color:#ffff00 !important; 
  }

  
